<p class="logo"><a href="https://doc.flectrahq.com/">
  <img class="logo" src="{{ pathto('_static/openerp.png', 1) }}" alt="Logo"/>
</a></p>

<h3>Other Docs</h3>
<ul>
  <li><a href="https://doc.flectrahq.com/trunk">Flectra Developers Documentation</a></li>
  <li><a href="https://doc.flectrahq.com/trunk/server">Flectra Server Developers Documentation</a></li>
  <li><a href="https://doc.flectrahq.com/book">Flectra Users Documentation</a></li>
</ul>

<h3>Useful Links</h3>
<ul>
  <li><a href="https://flectrahq.com/">The Flectra website</a></li>
  <li><a href="http://python.org/">The Python programming language</a></li>
</ul>
